# Web
fastapi
uvicorn[standard]

# Database
sqlalchemy
aiomysql
greenlet

# Cache
redis

# Auth
passlib[bcrypt]
bcrypt

# AI / Agent
python-dotenv
pydantic
langchain-openai
langgraph
langgraph-checkpoint-sqlite
tavily-python
ddgs
